.boton-elegante {
    -fx-background-color: #6c1d23;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-cursor: hand;
    -fx-font-family: Marcellus;
    -fx-font-size: 15;
    -fx-pref-width: 110;
    -fx-pref-height: 42;

}

.boton-elegante:hover {
    -fx-background-color: #bd363d; /* Un color un poco más claro o diferente */
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 0); /* Sombra suave */
}

.boton-elegante:pressed {
    -fx-background-color: #50151a; /* Más oscuro al hacer click */
}