.boton-menu {
    -fx-background-color: #8c996a;
    -fx-text-fill: #F5F0E6;
    -fx-cursor: hand;
    -fx-font-family: Marcellus;
    -fx-font-size: 15;

}

.boton-menu:hover {
    -fx-background-color: #d0e39d;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 5, 0, 0, 0);
    -fx-text-fill: #2f3e28;
}

.boton-menu:pressed {
    -fx-background-color: #555c3f;
    -fx-text-fill: #F5F0E6;

}